.titulosSecao{
    text-align: center;
    margin: 4rem 0;
}

.listaFilmes{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    column-gap: 6rem;
}

.itemFilmes{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 0;
}

img{
    width: 180px;
    border-radius: 1rem;
    margin-bottom: 2rem;
}

span{
    font-weight: bold;
    font-size: 120%;
    text-align: center;
}

a{
    transition: all 0.3s;
}

a:hover{
    transform: scale(1.1);
}